
 /* html, body{
  background-color: rgb(205, 206, 203);
}

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}

body {
  line-height:1;
}

ul, ol {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content:'';
  content:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
} */

/* //////////////////////////////////////////////////////////////// */

.all {
  position:fixed;
  width: 100vw;
  height: 100vh;
}

.maine{
  background-color: transparent;
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100%; */
  /* background-color: rgb(205, 206, 203); */
}
  .head{
    position:absolute;
    top:5;
    right: 5;
    display: flex;
    justify-content: space-around;
  }
    .log{
      /* width:20%; */
      margin: 0 20px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
      .log>a {
       min-width: 130px;
      }
  .content{
    position: absolute;
    width: 100vw;
    height: 100%;
  }
    .schedule {
      display: flex;
      justify-content: center;
      }
      .btn-schedule {
        width:35%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

      }
      .title-schedule{
        color: white;
        text-align: center;
        font-size: 12px;
      }
      .zodiak{
        z-index: -1;
        position: relative;
        /* top: 0;
        bottom: 0;
        right: 0; */
        width:50%;
        height:100%;
        background-image: url("/assets/zodiak.png");
        background-color:transparent;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        animation-name:spin;
        animation-duration:220s;
        animation-iteration-count:infinite;
        animation-timing-function: linear;

      }

      @keyframes spin
      {
        0% { transform: rotate(0);}
        100% { transform: rotate(360deg);}
      }

