
.ghost-top{
  height: 100px;
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 12px;
  width: 100%;
}
  td, th {
    width: 25%;
  }
  tr:nth-child(even){
    background-color: rgb(230, 227, 217);
  }
    .into-cell{
      padding-left: 35px;
      padding-right: 15px;
    }
.footer-tabs{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  z-index: 0;
}
mat-icon{
  cursor: pointer;
}

