@media(max-width:890px){
  app-btn-schedule{
  display: none;
  }
}
.tools{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.tools>app-btn-schedule{
  width: 40%;
}
