
<div  *ngIf="error" class="alert alert-danger pt-5 mt-5" role="alert">
  {{error}}
</div>
<!-- <app-spiner  ></app-spiner> -->
<div  class="ghost-top"></div>
<div *ngIf="!error" class="table-all">
  <div class="mat-elevation-z8">
    <table matSort mat-table [dataSource]="dataSource"  matSortActive="first_name" matSortDirection="asc" matSortDisableClear>

      <!-- alias -->
      <ng-container matColumnDef="Nazwa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa klienta </th>
        <td mat-cell *matCellDef="let row"> {{row.alias}} </td>
      </ng-container>
      <!-- first_name -->
      <ng-container matColumnDef="Sala">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numer Sali </th>
        <td mat-cell *matCellDef="let row"> {{row.first_name}}</td>
      </ng-container>
      <!-- last_name -->
      <ng-container matColumnDef="Data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Wynajęcia</th>
        <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
      </ng-container>
      <!-- email -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Adres email </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.email}} </td>
      </ng-container>
       <!-- telephon -->
      <ng-container matColumnDef="Telephon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefon </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.telephon}} </td>
      </ng-container>
      <!--sex-->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="into-cell" > Opis </th>
        <td   mat-cell *matCellDef="let row" [style.color]="row.color" >
          <span class="into-cell" *ngIf = "row.sex == 'k'">Kobieta</span>
          <span class="into-cell" *ngIf = "row.sex == 'm'">Mężczyzna</span>
        </td>
      </ng-container>
       <!-- photo -->
      <ng-container matColumnDef="Admin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color">
           <mat-icon *ngIf="row.photo" class="text-success" [routerLink] = "['photo', row.id]">done</mat-icon>
        </td>
      </ng-container>
      <!-- details -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color">
          <button mat-raised-button [routerLink] = "['details', row.id]">Szczegóły</button>
        </td>
      </ng-container>
      <!-- edit -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color">
          <button  mat-raised-button [routerLink] = "['edit', row.id]">Edycja</button>
        </td>
      </ng-container>
      <!-- delete -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color">
          <button mat-stroked-button color="warn"  (click)="delete(row)" [routerLink] = "['']">Usuń</button>
        </td>
      </ng-container>
      <!--th -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>

    </table>

  </div>
      <!-- footer -->
<div class="footer-tabs fixed-bottom">
       <!-- filtr -->
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
     <!-- add client -->
    <div>
      <button (click)="openNewContactModal()" mat-flat-button color="primary"  class="btn-block" id ="new-contact">Dodaj nowego klienta</button>
    </div>
      <button *ngFor = "let room of rooms; let i = index" mat-button (click)="openSchedule(i)">{{room}}</button>
    <div>

    </div>
     <!-- paginator -->
  <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
</div>
</div>
<!-- <app-spiner></app-spiner> -->
<ng-template #spiner></ng-template>
<router-outlet></router-outlet>
