<app-table-basic
                   [service] = 'appService'
                   [ModelMaterialTable] = 'ModelFromRent'
                   [ModelTableAdditional] = 'AdditionalModel'
                   [exceptionsIsObject] = 'exceptionsIsObject'
                   (calledMethod) = 'dispatcherMethod($event)'
>
  <div tools  class = 'tools'>
    <app-log-out #LogOut></app-log-out>
    <button  mat-raised-button  [routerLink] = '["/admins"]' >administratorzy</button>
    <app-btn-schedule
      [nrRooms] = "[1,2,3,4,5,6]"
      [admin] = "true"
    ></app-btn-schedule>

  </div>

</app-table-basic>

