


<!-- <div class = "svg"> -->


<svg


  viewBox="-186 5 500 180"
  >
      <!-- booking rooms -->
<g #bookingRooms>

        <!-- 1 -->
  <g id ="1" class = "room">
    <rect
      width="52.916908"
      height="52.916908"
      x="0.6416015e-07"
      y="68.791565" />
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:7.05558777px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="24.641283"
      y="97.120911"
      id="text5073"><tspan
      sodipodi:role="line"
      id="tspan5071"
      x="24.641283"
      y="97.120911"
      >1</tspan></text>
  </g>
      <!-- 2 -->
  <g id ="2" class = "room">
    <rect
      id="rect5020"
      width="52.916908"
      height="52.916908"
      x="0"
      y="121.70847" />
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:7.05558777px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="24.85483"
      y="152.73738"
      id="text5077"><tspan
      sodipodi:role="line"
      id="tspan5075"
      x="24.85483"
      y="152.73738"
      >2</tspan></text>
  </g>
        <!-- 3 -->
  <g id ="3" class = "room">
    <rect
      width="26.458454"
      height="26.458454"
      x="52.916908"
      y="148.16692" />
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:7.05558777px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="64.061691"
      y="163.53432"
      id="text5081"><tspan
      sodipodi:role="line"
      id="tspan5079"
      x="64.061691"
      y="163.53432"
      >3</tspan></text>
  </g>
        <!-- 4 -->
  <g id ="4" class = "room">
    <rect
      width="37.041836"
      height="21.166763"
      x="89.95874"
      y="145.52107" />
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:7.05558777px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="107.1433"
      y="158.24263"
      id="text5085"><tspan
      sodipodi:role="line"
      id="tspan5083"
      x="107.1433"
      y="158.24263"
      >4</tspan></text>
  </g>
        <!-- 5 -->
  <g id ="5" class = "room">
    <rect
      width="18.520918"
      height="26.458454"
      x="108.47966"
      y="119.06262" />
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:7.05558777px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="116.14993"
      y="134.6973"
      id="text5089"><tspan
      sodipodi:role="line"
      id="tspan5087"
      x="116.14993"
      y="134.6973"
      >5</tspan></text>
  </g>
        <!-- 6 -->
  <g id ="6" class = "room">
    <path
      d="M 0,42.333107 V 7.9371172 H 42.333526 V 52.916489 H 31.750145 L 10.583382,42.333107 Z"
      inkscape:connector-curvature="0" />
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:7.05558777px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="19.05546"
      y="30.25355"
      id="text5069"><tspan
      sodipodi:role="line"
      id="tspan5067"
      x="19.05546"
      y="30.25355"
      >6</tspan></text>
  </g>
</g>

            <!-- SZATNIA -->
            <rect
            width="10.583382"
            height="26.458454"
            x="0"
            y="42.333107" />
            <!-- SCHODY -->
            <rect
            width="21.166763"
            height="15.875072"
            x="31.750145"
            y="52.916489" />
            <rect
            width="7.9375362"
            height="7.9375324"
            x="71.437828"
            y="140.22939"
            ry="0" />
    <!-- bar -->
    <rect
      width="18.520918"
      height="7.9375362"
      x="52.916908"
      y="140.22939" />
    <rect
      width="7.9375362"
      height="2.6458454"
      x="71.437828"
      y="174.62538" />
      <!-- schody -->
    <rect
      width="15.875031"
      height="10.583373"
      x="89.95874"
      y="166.68784" />
      <!-- wc -->
    <rect
      width="18.520918"
      height="15.875072"
      x="89.95874"
      y="119.06262" />
    <rect
      width="13.229227"
      height="10.583382"
      x="76.729515"
      y="119.06262" />
    <rect
      width="18.520916"
      height="7.937541"
      x="58.208599"
      y="119.06262" />
      <!-- wc -->
    <rect
      width="7.9375362"
      height="18.520918"
      x="42.333527"
      y="34.395573" />
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:7.72663546px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.28974882;"
      x="106.32898"
      y="116.44282"
      id="text5636"
      transform="scale(0.91315137,1.0951087)"><tspan
        sodipodi:role="line"
        id="tspan5634"
        x="106.32898"
        y="116.44282"
        style="font-size:4.23335266px;fill:#ffffff;fill-opacity:1;stroke-width:0.28974882;">wc</tspan></text>
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="57.647194"
      y="146.16307"
      id="text5640"><tspan
        sodipodi:role="line"
        id="tspan5638"
        x="58.647194"
        y="146.16307"
        style="stroke-width:0.26458454;fill:#ffffff;fill-opacity:1;">bar</tspan></text>
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="43.027889"
      y="44.899715"
      id="text5644"><tspan
        sodipodi:role="line"
        id="tspan5642"
        x="43.527889"
        y="44.899715"
        style="stroke-width:0.26458454;fill:#ffffff;fill-opacity:1;">wc</tspan></text>
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="60.052631"
      y="124.54235"
      id="text5648"><tspan
        sodipodi:role="line"
        id="tspan5646"
        x="61.052631"
        y="124.54235"
        style="stroke-width:0.26458454;fill:#ffffff;fill-opacity:1;">szatnia</tspan></text>
    <text

      style="font-style:normal;font-weight:normal;font-size:4.93891141px;line-height:1.25;font-family:sans-serif;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="47.5026056"
      y="-4.0"
      id="text5652"
      transform="rotate(90)"
      >

      szatnia</text>
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="35.623547"
      y="61.682697"
      id="text5656"><tspan
        sodipodi:role="line"
        id="tspan5654"
        x="35.623547"
        y="61.682697"
        style="stroke-width:0.26458454;fill:#fdfdfd;fill-opacity:1;">schody</tspan></text>
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="90.627594"
      y="172.94656"
      id="text5660"><tspan
        sodipodi:role="line"
        id="tspan5658"
        x="91.00000"
        y="172.94656"
        style="stroke-width:0.26458454;fill:#f7f2f2;fill-opacity:1;">schody</tspan></text>
    <text
      xml:space="preserve"
      style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454;"
      x="71.384102"
      y="182.05524"
      id="text5664"><tspan
        sodipodi:role="line"
        id="tspan5662"
        x="71.384102"
        y="182.05524"
        style="stroke-width:0.26458454;fill:#ffffff;fill-opacity:1;">wejście główne</tspan></text>




        <!-- TEXST INFO -->
        <g
        id="g4600"
        transform="translate(0.3245636,19.79838)">
       <text
          id="text4564"
          y="22.658455"
          x="93.360054"
          style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454"
          xml:space="preserve"><tspan
            style="font-size:4.93891144px;text-align:center;text-anchor:middle;stroke-width:0.26458454"
            y="22.658455"
            x="93.360054"
            id="tspan4562"
            sodipodi:role="line"
            style="stroke-width:0.26458454;fill:#ffffff;fill-opacity:1;"
            >Spółdzielnia mieszkaniowa</tspan><tspan
            id="tspan4566"
            style="font-size:4.93891144px;text-align:center;text-anchor:middle;stroke-width:0.26458454"
            y="28.832094"
            x="93.360054"
            sodipodi:role="line"
            style="stroke-width:0.26458454;fill:#ffffff;fill-opacity:1;"
            >Zodiak</tspan></text>
       <text
          id="text4570"
          y="44.572987"
          x="80.114105"
          style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454"
          xml:space="preserve"><tspan
            style="font-size:4.58613205px;stroke-width:0.26458454"
            y="44.572987"
            x="80.114105"
            id="tspan4568"
            sodipodi:role="line"
            style="stroke-width:0.26458454;fill:#ffffff;fill-opacity:1;"
            >Wynajęcie sal</tspan></text>
       <text
          id="text4582"
          y="42.725342"
          x="74.97419"
          style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458454"
          xml:space="preserve"><tspan
            style="stroke-width:0.26458454"
            y="46.587559"
            x="74.97419"
            id="tspan4580"
            sodipodi:role="line"></tspan><tspan
            id="tspan4584"
            style="stroke-width:0.26458454"
            y="51.87925"
            x="74.97419"
            sodipodi:role="line"
            style="stroke-width:0.26458454;fill:#ffffff;fill-opacity:1;"
            >telefon: 123456789</tspan></text>

       <text
          id="text4588"
          y="58.628956"
          x="74.649635"
          style="font-style:normal;font-weight:normal;font-size:4.23335266px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.26458454"
          xml:space="preserve"><tspan
            style="stroke-width:0.26458454"
            y="58.628956"
            x="74.649635"
            id="tspan4586"
            sodipodi:role="line"
            style="stroke-width:0.26458454;fill:#ffffff;fill-opacity:1;">email zodiak @op.pl</tspan></text>
     </g>
    </svg>


  <!-- </div> -->
