/* .all-svg{ */
  /* background-color: red; */
  /* width: 100%; */
	/* height: 100vmin; */
/* } */
.svg{
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;

	/* height: 1000px; */
/* transform:scale(0.2); */

  /* position: relative; */
  /* width: 50%;*/
  height: 80vh;
}
svg{

  /* width:"500px";
  height:"700px"; */
  /* position: absolute; */
  /* top: -0px;
  left: -000px; */

  /* background-color: rgb(255, 251, 0); */
}
rect, path{
  fill:rgba(0, 0, 0, 0.705);
	stroke:white;
	stroke-width:.5px;
}
tspan{
  fill: white;
}
.room {
  cursor: pointer;
}








/* .sale_all{


} */
/* .sale_all:hover>.rect{
	fill:grey;

} */
.active-room{

	fill:grey;
}
