.all-svg{
  background-color: red;
  width: 100vmin;
	height: 100vmin;
}
.svg{
  width: 50vmin;
	height: 50vmin;
	transform:scale(0.22);
  background-color: rgb(19, 202, 202);
  position: relative;
  /* width: 50%;
  height: 50%; */
}
svg{
  /* transform:scale(0.25); */
  position: absolute;
  top: -30px;
  left: 0;
  background-color: blue;
}
.rect{
  fill:#2F4F4F;
	stroke:white;
	stroke-width:10px;
}

.circle{
	fill:white;
	stroke:#696969;
	stroke-width:10px;
}

.center{
	fill:white;

}
.text{
	 fill:white;
	 font-size:50px;
	 font-family:verdana;
}

.text_nr{
	 fill:black;
	 font-size:60px;
	 font-family:verdana;
	 font-weight:bold;
}

.doors{
	fill:black;
	stroke:white;
	stroke-width:10px;
}
.sale_all{


}
.sale_all:hover>.rect{
	fill:grey;

}
