
<kendo-panelbar
              [expandMode]="expandMode"
              [height]="height + '%'"
              >

  <kendo-panelbar-item [title]="'Sala 1'" [expanded]="true">
    <ng-template kendoPanelBarContent>
          <div class="custom-template">
            <p>sdfsdfsdf</p>
          </div>
    </ng-template>
  </kendo-panelbar-item>
  <kendo-panelbar-item [title]="'Sala 2'" >
    <ng-template kendoPanelBarContent>
        <div class="custom-template">Item content2</div>
    </ng-template>
  </kendo-panelbar-item>
  <kendo-panelbar-item [title]="'Sala 3'" >
    <ng-template kendoPanelBarContent>
      <div class="custom-template">Item content2</div>
    </ng-template>
  </kendo-panelbar-item>

</kendo-panelbar>


