
<form [formGroup] = "form"  appCompareDateStartEnd>
  <div>
    <div>
      <mat-form-field class = "head-center">
        <input matInput formControlName="name" placeholder="Nazwa wynajmującego">
        <mat-error *ngIf="form.get('name').hasError('required')">pole jest wymagane</mat-error>
        <mat-error *ngIf = "form.get('name').hasError('maxlength')">pole nie może mieć więcej niż 255 znaki</mat-error>
      </mat-form-field>
    </div>
    <div class = "one-row">
      <mat-form-field>
        <input matInput formControlName="email" placeholder="adres email">
        <mat-error *ngIf = "form.get('email').hasError('required')">pole jest wymagane</mat-error>
        <mat-error *ngIf = "form.get('email').hasError('email')">email musi mieć odpowiedni format</mat-error>
        <mat-error *ngIf = "form.get('email').hasError('maxlength')">pole nie może mieć więcej niż 32 znaki</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="telephon" placeholder="numer telefonu">
        <mat-error *ngIf="form.get('telephon').hasError('pattern')">numer telefonu musi mieć 9 cyfr</mat-error>
        <mat-error *ngIf="form.get('telephon').hasError('required')">pole jest wymagane</mat-error>
      </mat-form-field>
    </div>
    <div class = "one-row">
      <mat-form-field>
        <mat-select multiple formControlName="room" placeholder="numer sali" > <!--  [(value)]="selectedRoom" -->
          <mat-option *ngFor = "let roomOne of roomList" [value]="roomOne">{{roomOne}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('room').hasError('required')">pole jest wymagane</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="opis"></textarea>
        <mat-error *ngIf="form.get('description').hasError('maxlength')">maxymalna liczba znaków 255</mat-error>
      </mat-form-field>
    </div>

    <!-- <mat-checkbox  (click) = "switchInvoice()" ></mat-checkbox>Dane do faktury -->
    <div *ngIf = 'invoice'>
    <!-- <div [hidden]="!invoice"> -->
      <mat-form-field>
          <input matInput formControlName="factory" placeholder="Nazwa firmy">
          <!-- <mat-error *ngIf="form.get('factory').hasError('required')"></mat-error>
          <mat-error *ngIf = "form.get('factory').hasError('maxlength')">pole nie może mieć więcej niż 255 znaki</mat-error> -->
      </mat-form-field>
      <mat-form-field>
          <input matInput formControlName="city" placeholder="Misto">
          <!-- <mat-error *ngIf="form.get('city').hasError('required')"></mat-error>
          <mat-error *ngIf = "form.get('').hasError('maxlength')">pole nie może mieć więcej niż 255 znaki</mat-error> -->
      </mat-form-field>
      <mat-form-field>
          <input matInput formControlName="street" placeholder="adres">
          <!-- <mat-error *ngIf="form.get('').hasError('required')"></mat-error>
          <mat-error *ngIf = "form.get('street').hasError('maxlength')">pole nie może mieć więcej niż 255 znaki</mat-error> -->
      </mat-form-field>
      <mat-form-field>
          <input matInput formControlName="nip" placeholder="Nip">
          <!-- <mat-error *ngIf="form.get('').hasError('required')"></mat-error>
          <mat-error *ngIf = "form.get('').hasError('maxlength')">pole nie może mieć więcej niż 255 znaki</mat-error> -->
      </mat-form-field>
      <mat-form-field>
          <input matInput formControlName="service_name" placeholder="usługa">
          <!-- <mat-error *ngIf="form.get('serviceName').hasError('required')"></mat-error>
          <mat-error *ngIf = "form.get('').hasError('maxlength')">pole nie może mieć więcej niż 255 znaki</mat-error> -->
      </mat-form-field>

    </div>
  </div>

</form>

