<div style="height: 170px">
  <div class="">
    <div class="text-center">
      start rezerwacji
    </div>
    <app-day-bound-to-time
                            #start
                            (dateReady) = "startEvent($event)"
                            placeholderDate = "Data rozpoczęcia"
                            placeholderTime = "Godzina rozpoczęcia"
                            class=""
    ></app-day-bound-to-time>
  </div>

  <div>
    <div class="text-center">
      koniec rezerwacji
    </div>
    <app-day-bound-to-time
                            #end
                            (dateReady) = "endEvent($event)"
                            [disabled] = "disabled"
                            placeholderDate = "Data zakończenia"
                            placeholderTime = "Godzina zakończenia"
                            class=""
    ></app-day-bound-to-time>
  </div>
  <div *ngFor = 'let error of errorsAlert'>{{error}}</div>
</div>
